.hi-products-container {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px;
}

.hi-products-container .swiper-container {
    padding: 0 50px;
}

.hi-products__btn {
    margin-top: 50px;
}

.hi-products-content form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hi-products-content form select,
.hi-products-content form input[ type="text"] {
    width: 80%;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 36px;
}

.hi-products-content form input[type="submit"] {
    background-color: var(--button-background);
    padding: 8px 16px;
}